@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #ececec;
   font-family: "Lato", sans-serif;
   font-size: 15px;
   font-weight: 400;
   font-style: normal;
   font-weight: normal;
   color: #181818;
}

.container {
   width: 90%;
   max-width: 1400px;
   display: flex;
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.card__image {
   width: 100%;
}

.card__content--image {
   background-color: azure;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card__content {
   width: 100%;
   background-color: #ececec;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.card__content--title {
   font-size: 27px;
   text-align: center;
   font-weight: normal;
}

.form {
   max-width: 334px;
}

.label {
   display: block;
   position: relative;
   padding: 5px 5px;
}

.input-field {
   border: 1px solid rgba(159, 159, 159, 0.4);
   background-color: #fff;
   padding-left: 16px;
   min-height: 40px;
   border-radius: 0px;
   margin-bottom: 8px;
}

.checkbox-container {
   display: flex;
   align-items: center;
}

/* .checkbox-label {
   display: block;
   position: relative;
   cursor: pointer;
   clear: both;
} */

.checkbox-label input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

.checkbox-label .checkbox-custom {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 24px;
   width: 24px;
   background-color: transparent;
   border-radius: 5px;
   border: 2px solid #fff;

   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
}

.checkbox-label .checkbox-customer::after {
   position: absolute;
   content: "";
   left: 12px;
   top: 12px;
   height: 0px;
   width: 0px;
   border-radius: 5px;
   border: solid #181818;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(0deg) scale(0);
   -ms-transform: rotate(0deg) scale(0);
   transform: rotate(0deg) scale(0);
   opacity: 1;

   transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom {
   background-color: #fff;
   border-radius: 5px;
   -webkit-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   opacity: 1;
   border: 2px solid #fff;
}

.checkbox-label input:checked ~ .checkbox-customer::after {
   -webkit-transform: rotate(45deg) scale(1);
   -ms-transform: rotate(45deg) scale(1);
   transform: rotate(45deg) scale(1);
   opacity: 1;
   left: 8px;
   top: 3px;
   width: 6px;
   height: 12px;
   border: solid #009bff;
   border-width: 0 2px 2px 0;
   background-color: transparent;
   border-radius: 0;
}

.input-title {
   position: absolute;
   margin-left: 37px;
   font-size: 14px;
}

.button {
   width: 100%;
   border: 0px;
   padding: 8px 12px;
   font-size: 15px;
   color: rgb(246, 246, 246);
   background-color: rgba(69, 69, 69);
   cursor: pointer;
   display: inline-block;
}

.button:hover {
   background-color: rgb(167, 167, 167);
}
